html, body {
  width: 100%;
  height: 100%;
}
html {
  display: table;
  background-color: lightblue;
}
body {
  font: 18px/2 "Fredoka One";
  font-weight: 300;
  color: #333;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
img {
  position: absolute;
  z-index: 1;
}
#cloud-left {
  left: 100px;
}
#cloud-right {
  left: 900px;
}
section {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  text-shadow: 2px 2px 2px #000;
  letter-spacing:2px;
  z-index: 0;
}
div {
  font-family: "Lora";
  font-weight: 700;
  font-size: 100px;
  overflow: hidden;
  display: inline-block;
}
#counter {
  display: block;
  color: #333;
  height: 100px;
  font: 18px/2 "Fredoka One"; 
}
#left {
  width: 50%;
  text-align: right;
  direction: rtl; 
}
#right {
  width: 40%;
  text-align: left;
  margin-left: 5px;
}
/*  width: 1000px;
  margin: 0 auto;
  overflow: hidden;*/
.r { color: red; }
.o { color: orange; }
.y { color: yellow; }
.g { color: green; }
.b { color: blue; }
.i { color: indigo; }
.v { color: violet; }



img
{
-webkit-animation: Floating 3s infinite; /* Chrome, Safari, Opera */
animation: Floating 3s infinite;
}

@-webkit-keyframes Floating{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}






